.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.thumbnail {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail img {
  max-height: 100%;
  max-width: 100%;
}
.cardTitleStyle {
  text-align: center;
  font-weight: bold;
}

/* styling for buttons in modal */
.buttonStyle {
  background-color: #343a40 !important;
  color: white;
}
.buttonStyle:hover {
  background-color: white; 
  color: #343a40;
  border: solid 1.5px #343a40;
  box-shadow: 2px 2px 16px #343a40;
}